<div class="modal fade" id="delete-account-modal" tabindex="-1" aria-labelledby="delete-account-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 2rem;">
            <div class="modal-header">
                <h5 class="modal-title">Bạn đang chuẩn bị xoá một người dùng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="post" class="d-flex flex-column" id="delete-account-form">
                <div class="modal-body">
                    Hành động này không thể hoàn tác. Bạn chắc chắn thực hiện xoá chứ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Không xóa</button>
                    <button type="submit" class="js-save btn-submit btn btn-danger">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>